<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Heading Level 1-6</h1>
    <p id = "p1">Paragraph 1</p>
    <p>Paragraph 2</p>
    <div>Division 1</div>
    <div class="comicsans bluetext">Division 2</div>
    <div class="comicsans">Division 3</div>
    <div class="bluetext">Division 4</div>


    <input type="text" name="username">
    <img src="https://i.ytimg.com/vi/CxOpLWjiBZY/maxresdefault.jpg" alt="Linh Ka">
    <a href="http://www.example.com"target="_blank">Example.com</a>
    <!--unordered list-->
    <ul>
        <li>List item 1</li>
        <li>List item 2</li>
        <li>List item 3</li>
    </ul>
    <ol>
        <li>List item 1</li>
        <li>List item 2</li>
        <li>List item 3</li>
    </ol>
    <div>
        <a href="http://www.google.com" target="_blank">Google.com</a>
        <p>
            Nested div
            <a href="http://www.google.com" target="_blank">Google.com</a>
        </p>

    </div>

</body>
</html>